<div class="mt-4">
<form method="POST">
  <div class="form-group">
    <label for="emailInput">Địa chỉ email</label>
    <input type="email" name="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Nhập email">
    <small id="emailHelp" class="form-text text-muted">Email của bạn sẽ không bị chia sẻ cho bên thứ ba.</small>
  </div>
  <div class="form-group">
    <label for="passwordInput">Mật khẩu</label>
    <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Nhập mật khẩu">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Nhớ mật khẩu</label>
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
</div>